# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
.venv/
ENV/

# Docker
.docker_data/
*.log

# Sensitive Files (IMPORTANT)
.env
*.env
auth.json
*.pem
*.key

# IDEs
.vscode/
.idea/

# Local data / Temp
ubuntu/backend/resource/xtf_validation/uploads/
ubuntu/backend/resource/xtf_validation/logs/
ubuntu/backend/resource/xtf_validation/reports/
ubuntu/backend/resource/xtf_validation/debug/
tmp/
temp/

# Server tools (installed via Dockerfile, not tracked in Git)
opt/

*:Zone.Identifier

# Bases de Datos y Dumps (Para que no subas el SQL gigante)
*.sql
.ilicache/
# Archivos de reporte y diagnóstico local
cookies.txt
paquetes_instalados.txt
servicios_app.txt
servicios_corriendo.txt
servicios_systemd.txt
test.txt

# Docker local data
postgres_data/