# API Configuration
APP_NAME="ArbitriumSAS API"
APP_VERSION="0.1.0"
STATIC_URL="/static"

# =========================================================
# BACKEND MULTI-MUNICIPIO
# =========================================================
# Municipios previstos actualmente:
# - sucre      -> programacion
# - saravena   -> saravena
# - almaguer   -> almaguer
# - neiva      -> neiva

MUNICIPALITIES=sucre,saravena,almaguer,neiva

# =========================================================
# CONEXION PRINCIPAL BD / LEGACY
# =========================================================
DB_HOST=arbimapps.c3c0imwimaws.us-east-2.rds.amazonaws.com
DB_PORT=5432
DB_NAME=programacion
DB_USER=ArbitriumSAS
DB_PASSWORD='c?UasKrF[x<.lvSa)W4.Wd21]ECk'
DB_SSLMODE=require
DATABASE_URL=postgresql://ArbitriumSAS:Ru6T%3C4p%7CBg-CTAVXiBfs%3A_UKTUiq@arbimapps.c3c0imwimaws.us-east-2.rds.amazonaws.com:5432/programacion

DEFAULT_TENANT=ARB
ALLOW_LEGACY_DB_CONFIG=true

# =========================================================
# TENANT: ARB
# =========================================================
TENANT_ARB_DB_HOST=arbimapps.c3c0imwimaws.us-east-2.rds.amazonaws.com
TENANT_ARB_DB_PORT=5432
TENANT_ARB_DB_NAME=programacion
TENANT_ARB_DB_USER=ArbitriumSAS
TENANT_ARB_DB_PASSWORD='c?UasKrF[x<.lvSa)W4.Wd21]ECk'
TENANT_ARB_DB_SSLMODE=require
TENANT_ARB_DATA_SCHEMA=a_base_principal
TENANT_ARB_VISOR_DATA_SCHEMA=a_base_principal
TENANT_ARB_APP_SCHEMA=arbimaps_app
TENANT_ARB_HISTORICAL_SCHEMA=c_historico_base
TENANT_ARB_ASIG_SCHEMA_MAIN_ARB=a_base_principal
TENANT_ARB_ASIG_SCHEMA_WORK_ARB=b_asignaciones_arb

# =========================================================
# MUNICIPIO: SUCRE
# =========================================================
MUNICIPALITY_SUCRE_DB_HOST=arbimapps.c3c0imwimaws.us-east-2.rds.amazonaws.com
MUNICIPALITY_SUCRE_DB_PORT=5432
MUNICIPALITY_SUCRE_DB_NAME=programacion
MUNICIPALITY_SUCRE_DB_USER=ArbitriumSAS
MUNICIPALITY_SUCRE_DB_PASSWORD='c?UasKrF[x<.lvSa)W4.Wd21]ECk'
MUNICIPALITY_SUCRE_DB_SSLMODE=require
MUNICIPALITY_SUCRE_SCHEMA_APP=arbimaps_app
MUNICIPALITY_SUCRE_SCHEMA_MAIN=a_base_principal
MUNICIPALITY_SUCRE_SCHEMA_WORK=b_asignaciones_arb
MUNICIPALITY_SUCRE_SCHEMA_HISTORY=c_base_historico
MUNICIPALITY_SUCRE_SCHEMA_WORKFLOW=d_workflow
MUNICIPALITY_SUCRE_WMS_BASE_URL=https://desarrollo.arbimaps.com/geoserver/SUCRE/wms
MUNICIPALITY_SUCRE_GEOSERVER_BASE_URL=https://desarrollo.arbimaps.com/geoserver
MUNICIPALITY_SUCRE_GEOSERVER_WORKSPACE=SUCRE
MUNICIPALITY_SUCRE_GEOSERVER_LAYERS=SUCRE:Base_Principal

# =========================================================
# MUNICIPIO: SARAVENA
# =========================================================
MUNICIPALITY_SARAVENA_DB_HOST=arbimapps.c3c0imwimaws.us-east-2.rds.amazonaws.com
MUNICIPALITY_SARAVENA_DB_PORT=5432
MUNICIPALITY_SARAVENA_DB_NAME=saravena
MUNICIPALITY_SARAVENA_DB_USER=ArbitriumSAS
MUNICIPALITY_SARAVENA_DB_PASSWORD='c?UasKrF[x<.lvSa)W4.Wd21]ECk'
MUNICIPALITY_SARAVENA_DB_SSLMODE=require
MUNICIPALITY_SARAVENA_SCHEMA_APP=arbimaps_app
MUNICIPALITY_SARAVENA_SCHEMA_MAIN=a_base_principal
MUNICIPALITY_SARAVENA_SCHEMA_WORK=b_asignaciones_arb
MUNICIPALITY_SARAVENA_SCHEMA_HISTORY=c_base_historico
MUNICIPALITY_SARAVENA_SCHEMA_WORKFLOW=d_workflow

# =========================================================
# MUNICIPIO: ALMAGUER
# =========================================================
MUNICIPALITY_ALMAGUER_DB_HOST=arbimapps.c3c0imwimaws.us-east-2.rds.amazonaws.com
MUNICIPALITY_ALMAGUER_DB_PORT=5432
MUNICIPALITY_ALMAGUER_DB_NAME=almaguer
MUNICIPALITY_ALMAGUER_DB_USER=ArbitriumSAS
MUNICIPALITY_ALMAGUER_DB_PASSWORD='c?UasKrF[x<.lvSa)W4.Wd21]ECk'
MUNICIPALITY_ALMAGUER_DB_SSLMODE=require
MUNICIPALITY_ALMAGUER_SCHEMA_APP=arbimaps_app
MUNICIPALITY_ALMAGUER_SCHEMA_MAIN=a_base_principal
MUNICIPALITY_ALMAGUER_SCHEMA_WORK=b_asignaciones_arb
MUNICIPALITY_ALMAGUER_SCHEMA_HISTORY=c_base_historico
MUNICIPALITY_ALMAGUER_SCHEMA_WORKFLOW=d_workflow
MUNICIPALITY_ALMAGUER_WMS_BASE_URL=https://desarrollo.arbimaps.com/geoserver/ALMAGUER/wms
MUNICIPALITY_ALMAGUER_GEOSERVER_BASE_URL=https://desarrollo.arbimaps.com/geoserver
MUNICIPALITY_ALMAGUER_GEOSERVER_WORKSPACE=ALMAGUER
MUNICIPALITY_ALMAGUER_GEOSERVER_LAYERS=ALMAGUER:Base_Principal

# =========================================================
# MUNICIPIO: NEIVA
# =========================================================
MUNICIPALITY_NEIVA_DB_HOST=arbimapps.c3c0imwimaws.us-east-2.rds.amazonaws.com
MUNICIPALITY_NEIVA_DB_PORT=5432
MUNICIPALITY_NEIVA_DB_NAME=neiva
MUNICIPALITY_NEIVA_DB_USER=ArbitriumSAS
MUNICIPALITY_NEIVA_DB_PASSWORD='c?UasKrF[x<.lvSa)W4.Wd21]ECk'
MUNICIPALITY_NEIVA_DB_SSLMODE=require
MUNICIPALITY_NEIVA_SCHEMA_APP=arbimaps_app
MUNICIPALITY_NEIVA_SCHEMA_MAIN=a_base_principal
MUNICIPALITY_NEIVA_SCHEMA_WORK=b_asignaciones_arb
MUNICIPALITY_NEIVA_SCHEMA_HISTORY=c_base_historico
MUNICIPALITY_NEIVA_SCHEMA_WORKFLOW=d_workflow

# =========================================================
# ESQUEMAS / GEOSERVER / ASIGNACIONES
# =========================================================
DATA_SCHEMA=a_base_principal
VISOR_DATA_SCHEMA=a_base_principal
VISOR_GEOSERVER_LAYERS=A_Base_Principal:Base_Principal
WMS_BASE_URL=http://desarrollo.arbimaps.com/geoserver/A_Base_Principal/wms

ASIG_MODEL=arb
ASIG_SCHEMA_MAIN_ARB=a_base_principal
ASIG_SCHEMA_WORK_ARB=b_asignaciones_arb

# =========================================================
# BOX
# =========================================================
BOX_AUTH_MODE=oauth
BOX_CLIENT_ID=pvpyqidaugu7xzfdxkbw0r48bx60hiuv
BOX_CLIENT_SECRET=RQXZiPYBorinQGz8pCMDjRiW7A9Mw3WT
BOX_ROOT_FOLDER_ID=376705885660
BOX_TOKENS_FILE=tokens/box_oauth_tokens.json
BOX_REDIRECT_URI=https://arbitriumsas.arbimaps.com/api/box/oauth/callback

# =========================================================
# INTERLIS / ILI2PG / ILIVALIDATOR
# =========================================================
# ILI2PG_CMD=
ILI2PG_JAR=/opt/ili2pg/ili2pg-5.1.0.jar
ILI2PG_TIMEOUT_SEC=600

ILIVALIDATOR_JAR=/opt/ilivalidator/ilivalidator-1.14.1.jar
ILIVALIDATOR_LIB_DIR=/opt/ilivalidator/libs

# =========================================================
# OTROS
# =========================================================
ASIG_RUNTIME_DDL=1
ASIG_WORKSPACE_STALE_MINUTES=20

# =========================================================
# MERGIN
# =========================================================
MERGIN_URL=https://app.merginmaps.com
MERGIN_USERNAME=auxtecnico.arbitrium@gmail.com
MERGIN_PASSWORD=Arbitrium2026**
MERGIN_WORKSPACE=Reconocimiento Predial