<script>
    window.rp = "{{ rp }}";
</script>
<div class="content-module-editar">
    <div class="d-flex justify-content-end mb-2 mt-n2">
        <button type="button" class="btn btn-volver-editar py-1">
            <i class="fa-solid fa-arrow-left-long me-1"></i> Volver
        </button>
    </div>

    <div class="row g-4">
        <!-- Tarjeta original -->
        <div class="col-12 col-md-6">
            <div class="title-module-editar">
                <div class="indication">
                    <div class="title-indication-editar">
                        DETALLES DE ASIGNACION > EDICION ALFANUMERICA
                    </div>
                </div>
                <div class="section-title-principal mt-1 mt-md-3">
                    <div class="content-title-principal">
                        <div class="title-principal-detalle d-block">
                            Editar información del predio
                        </div>
                    </div>

                    <div class="section-parrafo-principal mt-2">
                        <div class="parrafo-principal d-block">
                            Módulo para realizar ediciones a la información alfanumérica para el predio
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nueva tarjeta -->
        <div class="col-12 col-md-6">
            <div class="card-id-operacion p-3">
                <div class="d-flex align-items-start gap-3">
                    <!-- Contenido principal -->
                    <div>
                        <div class="indication">
                            <div class="title-indication-editar">
                                ID Operación.
                            </div>
                        </div>
                        <div class="section-title-principal mt-md-1">
                            <div class="content-title-principal">
                                <div class="title-principal-detalle d-block" id="displayIdOperacion">
                                    ----
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tarjeta pequeña al end -->
                    <div class="card p-1 ms-auto w-25">
                        <div class="card-body tarjet-id-operation p-1">
                            <div class="d-block text-tarjet-name text-center">Asignación</div>
                            <div class="text-result-name text-center" id="displayAsignacion">----</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-12 mt-5">
        <div class="border rounded-4 shadow-sm overflow-hidden bg-white h-100 card-madre-edicion">
            <div class="card-header card-header-editar py-2 px-2 px-md-1">
                <div class="d-flex justify-content-between align-items-center flex-wrap mt-2 gap-2">
                    <div class="mb-0 title-asignacion-editar text-break">
                        Actualizar información alfanumérica
                    </div>

                    <div class="d-flex gap-2 ms-auto flex-wrap">
                        <button type="button" class="btn btn-boton-save btn-sm text-white p-2"
                            id="btnGuardarCambiosPredio">
                            <i class="fa-regular fa-floppy-disk me-2"></i> Guardar cambios
                        </button>
                        <button type="button" class="btn btn-boton-abort btn-sm text-white p-2">
                            <i class="fa-solid fa-xmark me-2"></i> Cancelar
                        </button>
                    </div>
                </div>
            </div>

            <div class="card-body card-body-edicion-left py-3 px-2 px-md-4">
                <div class="row g-3 align-items-stretch align-items-md-center info-resumen-wrap mt-1">
                    <div class="container-fluid px-0 mt-3">
                        <!-- Tabs -->
                        <div class="tabs-scroll-wrapper mt-3">
                            <button type="button" class="btn btn-scroll-tabs btn-scroll-left" id="btnScrollLeft"
                                onclick="scrollTabs(-250)">
                                <i class="fa-solid fa-chevron-left"></i>
                            </button>

                            <div class="opciones-scroll" id="opcionesScroll">
                                <ul class="nav nav-pills mb-3 gap-2 flex-nowrap" id="opciones-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="opcion1-tab" data-bs-toggle="pill"
                                            data-bs-target="#opcion1" type="button" role="tab">
                                            Información Física
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="opcion2-tab" data-bs-toggle="pill"
                                            data-bs-target="#opcion2" type="button" role="tab">
                                            Información Jurídica y Económica
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="opcion3-tab" data-bs-toggle="pill"
                                            data-bs-target="#opcion3" type="button" role="tab">
                                            Terreno y dirección
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="opcion4-tab" data-bs-toggle="pill"
                                            data-bs-target="#opcion4" type="button" role="tab">
                                            Derecho, Fuente, Interesados
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="opcion5-tab" data-bs-toggle="pill"
                                            data-bs-target="#opcion5" type="button" role="tab">
                                            Construcciones
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="opcion6-tab" data-bs-toggle="pill"
                                            data-bs-target="#opcion6" type="button" role="tab">
                                            Resultado visita
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="opcion7-tab" data-bs-toggle="pill"
                                            data-bs-target="#opcion7" type="button" role="tab">
                                            Punto de referencia
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="opcion8-tab" data-bs-toggle="pill"
                                            data-bs-target="#opcion8" type="button" role="tab">
                                            Novedades,Marcas y Trámites
                                        </button>
                                    </li>
                                </ul>
                            </div>

                            <button type="button" class="btn btn-scroll-tabs btn-scroll-right" id="btnScrollRight"
                                onclick="scrollTabs(250)">
                                <i class="fa-solid fa-chevron-right"></i>
                            </button>
                        </div>

                        <!-- Contenido dinámico -->
                        <div class="tab-content mt-3" id="opciones-tabContent">
                            <!-- primera pestaña -->
                            {% include "editar_predio/tab1_fisica.html" %}
                            <!-- segunda pestaña -->
                            {% include "editar_predio/tab2_juridica.html" %}
                            {% include "editar_predio/tab3_terreno.html" %}
                            <!-- TODO: PESTAÑA 4 INTERESADO -->
                            {% include "editar_predio/tab4_interesados.html" %}
                            <!-- TODO: fin pestaña interesado -->
                            <!-- TODO: pestaña 5 construcciones -->
                            {% include "editar_predio/tab5_construcciones.html" %}

                            <!-- ? pestaña 6-->
                            {% include "editar_predio/tab6_resultado.html" %}

                            <!-- ! PESTAÑA 7-->
                            {% include "editar_predio/tab7_referencia.html" %}

                            <!-- TODO: pestaña 8-->
                            {% include "editar_predio/tab8_novedades.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                            {% include "editar_predio/js_helpers.html" %}


                            {% include "editar_predio/js_interesados.html" %}

<!-- TODO: js para la pestaña 5 construcciones -->

                            {% include "editar_predio/js_construcciones.html" %}

<!-- TODO: fin js para la pestaña 5 construcciones -->

<!-- ? JS PARA LA PESTAÑA 6-->
                            {% include "editar_predio/js_resultado_visita.html" %}
<!-- ? FIN JS PARA LA PESTAÑA 5-->


<!-- ! JS PARA LA PESTAÑA 7 -->
                            {% include "editar_predio/js_puntos_referencia.html" %}
<!-- ! FIN JS PARA LA PESTAÑA 7 -->

<!-- TODO: js para pestaña 8 -->
                            {% include "editar_predio/js_novedades_tramites.html" %}
<!-- TODO: fin js para pestaña 8 -->

                            {% include "editar_predio/js_loader_submit.html" %}

<!-- Script para inicializar los visores de mapa -->
                            {% include "editar_predio/js_mapas.html" %}
